body {
    margin: 0;
    padding: 0;
    background-color: #e2f4fe;
    animation: bg 5s infinite linear forwards;
}
.wrapper {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 720px;
}
.palm {
    background-image: url("../img/palm.png");
    width: 100%;
    height: 100%;
    background-position: left 234px top;
}
.wrapper img {
    /*position: static;*/
    left: 0;
    bottom: 0;
}
.container-moon {
    height: 73%;
    position: absolute;
    margin-left: 15%;
}
.moon {
    position: absolute;
    height: 150px;
    width: 150px;
    transform: rotate(90deg);
    border-radius: 100%;
    box-shadow: 15px 20px 0 0 white;
    animation: moonrise 5s infinite linear forwards;
}
.container-sun {
    height: 73%;
    position: absolute;
    margin-left: 45%;
}
.sun {
    /*margin-top: 20px;*/
    position: absolute;
    width: 150px;
    height: 150px;
    border-radius: 100%;
    background: #eecd14;
    animation: sunrise 5s infinite linear forwards, rays 5s 5s infinite linear forwards;
    /*background-size: 200% 200%;*/


}

@keyframes bg {
    0%   {background-color: #e2f4fe;}
    25%  {background-color: #9fa7b0;}
    50%  {background-color: #8e5616;}
    80% {background-color: #640f0f;}
    100% {background-color: #190c0e;}
}
@keyframes sunrise {
    from {top: 0px;}
    to {top: 100%; background-color: #ff1501;}
}

@keyframes moonrise {
    from {top: 100%;}
    to {top:  0px; }
}
